[submodule "vim/bundle/Vundle.vim"]
        path = vim/bundle/Vundle.vim
        url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/bundle/ayu-vim"]
        path = vim/bundle/ayu-vim
        url = git@github.com:willwillsiii/ayu-vim.git
        branch = tabline_with_original_colors
