[submodule "vim/bundle/Vundle.vim"]
        path = vim/bundle/Vundle.vim
        url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/bundle/ayu-vim"]
        path = vim/bundle/ayu-vim
        url = git@github.com:willwillsiii/ayu-vim.git
        branch = tabline_with_original_colors
[submodule "vim/bundle/markdown-preview.nvim"]
	path = vim/bundle/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
	branch = dependabot/npm_and_yarn/next-12.1.0
	ignore = dirty
